.metatags-suggested .title {
    font-weight: bold;
    padding-bottom: 5px;
}

.metatags-suggested p {
    margin: 0px;
}

ul.tagit li.ari-recommendation {
    background-color: #21ABAB;
    border-color: #339596;
}

ul.tagit li.ari-recommendation:hover, ul.tagit li.ari-recommendation.remove {
    background-color: #3c8788;
    border-color: #2e9596;
}

ul.tagit li.ari-recommendation .tagit-close .text-icon {
    color: white;
}

ul.tagit li.ari-recommendation a.tagit-close .text-icon:hover {
    color: #ddd;
}

ul.tagit li.ari-recommendation .tagit-label:not(a) {
    color: white;
}
