#ari-wikipedia-control p {
    line-height: 1;
}
.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 500px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: white;
    font-size: 13px;
}
.url-preview-frame-wrapper {
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    bottom: 0;
}
.url-preview-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
